*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction:column;
    height: fit-content;
}
main {
    display: flex;
    justify-content: center;
}


nav{
    background: #5c84b4;
    height: 80px;
    width: 100%;
    padding: 10px;

}

.logo1 {
    width: 100px;
}

label.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    position: relative;
    margin-top: 10px;
    width: 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
color: white;
font-size: 17px ; 
padding: 7px 13px;
border-radius: 3px;
}


#check{
    display: none;
}


  

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5c84b4;
}

footer section {
    color: white;
}

.jakker {
    width: 200px;
    ;
   
}
#products {
    width: 50rem;
    height: 50rem;
    background-color: rgb(243, 212, 212);
    align-content: center;
    display: grid;
    grid-template-columns: minmax(15rem, 40rem);
    grid-template-rows: 30rem;
    justify-content: center;
    
}
.card {
display: grid;
grid-template-columns: minmax(10rem, 20rem) minmax(10rem, 20rem);
grid-template-rows: 20rem;
}

.card-left{
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
.card-image-container {
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.card-image-container img {
    height: 100%;
}



.card-right {
background-color: green;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.card-title {

}

.card-description {

}

.card-price {
    font-size: 30px;

}

main {

    display: grid;
    
    grid-template-columns: minmax(20rem, 100%);
    
    grid-template-rows: 30rem 40rem;
    
/*      background-color: black;
     */
     justify-content: center;
    
    align-content: center;
    
    
    
    }
    
    
    
    
    
    .featured-jackets-container {
    
    
    
    margin: 10px;
    
    display: grid;
    
    justify-content: center;
    
    
    
    grid-template-columns: repeat(3,minmax(15rem, 10rem) );
    
    grid-template-rows: 15rem;
    
    gap: 2rem;

    
    
    
    
    
    }
    
    
    
    
    .featured-jackets{
    
/*     background-color: rgb(35, 6, 6); */
    
    display: grid;
    
    grid-template-columns: 5rem;
    
     grid-template-rows: 5rem 10rem;
    
   gap: 1rem;
    
    }
    

  
    
    
    
    .featured-jacket-top-card, jackets-card-top {
    
    background-color: orange;
    
    
    
    }
    .jackets-card img {
        height: 100%;
    }
    .featured-jacket-top-card img {
    
   height: 100%;
    
    }
    
   
    
    .featured-jacket-bottom-card, .jackets-bottom{}
    
    .jackets-container {
        display: grid;
        grid-template-columns: repeat(3, 10rem);
        grid-template-rows: 10rem;
/*       outline: 1px dashed rgb(2, 2, 2);
      background-color: rgb(0, 0, 0); */
        margin: 10px;
        
        }


 .card{
 
 }
 .card h1 {
    color: wheat;
 }


 .productimage {
    height: 200px;
    width: 200px;
    margin: 10px;
 }